{{>head}}
{{>header}}

<main>
  <!-- Services -->
  <section class="pt-120" style="background: url('/images/hero-1-bg.jpg') no-repeat fixed center center/cover;">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-10 lg:gap-16 place-items-center my-16">
        <div class="lg:col-span-2">
          <h1 class="text-interface-500 font-bold text-4xl leading-normal lg:text-5xl capitalize lg:leading-snug">
            Add CTO Expertise to the mix
          </h1>
        </div>
        <div class="lg:col-span-3">
          <p class="text-interface-200 text-xl">
            Specializing in Start-ups and Scale-ups,
            I can help build and refine your Engineering Tech Org
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7 pb-10 lg:pb-16">
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-user-tie text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Executive Technology Partner
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            Maximize your business potential with a Fractional CTO by your side.
            Using my deep expertise, I'll offer strategic insights,
            streamline infrastructure, and oversee crucial tech initiatives.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-people-group text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Team Design &amp; Development
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            I cultivate teams for innovation and scale, promoting tech that
            grows with you. My curated product/engineering teams efficiently
            bring products to life, turning bold ideas into transformative solutions.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-handshake text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Vendor &amp; Partner Management
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            Expert negotiations yield high-quality tech at competitive costs.
            Discover the uplift of strategic vendor relationships in reaching tech milestones.
            With me as your Fractional CTO, master vendor and partner management.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-code text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Software Engineering Leadership
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            Entrust your software engineering needs to me, your Fractional CTO.
            With an emphasis on code integrity, team collaboration, and strategy,
            witness your organization soar under dedicated leadership.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-cloud text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Architecture &amp; Infrastructure
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            I've seen brilliant developers' code crumble due to poor infrastructure.
            As your Fractional CTO, I focus on fortifying software architecture
            optimizing costs and ensuring app resilience.
          </p>
        </article>
        <article class="relative transition duration-200 px-7 py-8 bg-white shadow-customThree rounded-custom overflow-hidden">
          <div class="w-[70px] h-[70px] rounded-full bg-pblue-500 bg-opacity-10 pt-4 text-center mb-6">
            <i class="fa fa-road text-3xl"></i>
          </div>
          <h2 class="mb-6 font-semibold text-2xl text-interface-100">
            Technology Roadmapping
          </h2>
          <p class="pb-6 text-interface-200 text-lg">
            As your Fractional CTO, I'll map out your tech future.
            Using rich industry insight, I highlight emerging tech,
            security concerns, and areas for enhancement.
            Together, we'll align this with your business goals,
            ensuring innovation and security.
          </p>
        </article>
      </div>
    </div>
  </section>
  <!-- Services End -->
  <!-- Member Info -->
  <section class="py-16">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <!-- Info Card -->
      <div class="bg-white mb-10 rounded shadow-customFour p-10">

        <!-- Description -->
        <div class="px-7 pt-10 pb-11 rounded-md bg-pblue-500 bg-opacity-10 mt-7 z-30 relative">
          <h4 class="text-interface-700 text-2xl font-semibold mb-3">
            Technology Expertise
          </h4>
          <p class="text-base text-interface-100 leading-snug">
            Still unsure about hiring me as your Fractional CTO?
            I get it – you want to understand if my technical expertise
            meets your tech stack. Here’s the details that may be helpful:
          </p>
        </div>
      </div>
      <!-- Info Card End -->
      <!-- Skills  -->
      <div class="grid lg:grid-cols-2 gap-x-20 gap-y-10">
        <!-- Backend Languages -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Backend Languages &amp; Frameworks
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.backend}}
            <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
              {{this}}
            </li>
            {{/each}}
          </ul>
        </div>
        <!-- Backend Languages -->
        <!-- Database -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Database Management
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.database}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Database -->
        <!-- FrontEnd -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Frontend Languages &amp; Frameworks
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.frontend}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- FrontEnd -->
        <!-- Mobile -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Mobile App Development
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.mobile}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Mobile -->
        <!-- Database -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Database Management
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.database}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Database -->
        <!-- Data -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Data
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.data}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Data -->
        <!-- Infra -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Infrastructure &amp; Cloud
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.infrastructure}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Infra -->
        <!-- Specialties -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Specialties
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.specialties}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Specialties -->
        <!-- Monitoring -->
        <div class="mt-10">
          <div class="border-b border-pblue-100 pb-3">
            <h3 class="text-2xl">
              Monitoring
            </h3>
          </div>
          <ul class="mt-7 flex flex-wrap gap-3">
            {{#each skills.monitoring}}
              <li class="bg-porange-500 block px-4 py-3 rounded-md text-white text-xl">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
        <!-- Monitoring -->
      </div>
    </div>
  </section>
  <!-- Member Info End -->
</main>

{{>footer}}
