<!-- Header -->
<header class="main-header">
  <div class="main-menu">
    <div class="mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8 mt-4">
      <nav class="nav">
        <div class="nav__data">
          <a href="{{pages.home.path}}" class="nav__logo hover:text-pblue-500">
            The Fractional CTO
          </a>
          <div class="nav__toggle" id="nav-toggle">
            <i class="fa-solid fa-bars nav__toggle-menu"></i>
            <i class="fa-solid fa-xmark nav__toggle-close"></i>
          </div>
        </div>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            {{#each nav}}
              <li>
                {{#if this.active}}
                  <a href="{{this.path}}" class="nav__link hover:text-pblue-500 border-b-2 border-pblue-100">
                {{else}}
                <a href="{{this.path}}" class="nav__link hover:text-pblue-500">
                {{/if}}
                  {{this.label}}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="hidden xl:block">
          <a
            href="{{links.consultation}}"
            class="bg-pblue-500 hover:bg-pblue-600 group text-white px-6 py-4 font-medium rounded-lg inline-flex justify-center items-center transition"
          >
            <span>Book Free Consultation</span>
            <svg
              class="stroke-white transform translate transition-transform group-hover:translate-x-2"
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 16.5L18 12.5M18 12.5L14 8.5M18 12.5L6 12.5"

                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- Header End -->
